.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}

/* it tell all browsers to hide the scrollbar but keep it's functionality*/
/* .Check::-webkit-scrollbar {
  display: none;
} */
